@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #161419;
    color: #fff;
}

a {
    text-decoration: none;
}

header nav {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
    
}

.menu-icon {
    height: 2rem;
    margin-right: 320.58px;
    border-radius: 10px;
    padding: 3px;
}

.menu-icon:hover {
    cursor: pointer;
    background: rgba(202, 202, 202, 0.075);
}

.logo {
    display: flex;
    font-family: 'Holtwood One SC', serif;
    font-size: 26px;
    color: #fff;
}

.logo-blue {
    color: #0C7489;
}

.nav-right {
    display: flex;
    gap: 2rem;
}

.search-bar {
    border-radius: 360px;
    border: none;
    padding: 10px 15px 10px 36px;
    background-image: url('../svg/search.svg');
    background-repeat: no-repeat;
    background-position: 8px;
    background-color: #222025;
    color: #CCCCCC;
    font-size: 16px;
}


.profile-link svg {
    stroke: #fff;
    height: 38px;
    width: 38px;
    vertical-align: middle;
}

main {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}

.side-bar {
    background-color: #161419;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
}


.side-bar-top {
    height: 6rem;
    display: flex;
    align-items: center;
}

.side-bar-top svg {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding: 4px;
}

.side-bar-top svg:hover {
    cursor: pointer;
    background-color: rgba(202, 202, 202, 0.075);
}

.side-bar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-bottom: 4rem;
}

.side-bar-bottom a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding-block: 20px;
}

.side-bar a:nth-of-type(1) {
    background-color: #212024;
}

.destaque {
    height: 530px;
    width: 100%;
    background: url(../png/poster-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.destaque-gradient-container {
    height: 100%;
    max-width: 100%;
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg,rgba(22, 20, 25, 1) 0%,rgba(22, 20, 25, 0) 70%), linear-gradient(180deg, rgba(22, 20, 25, 1) 0%, rgba(22, 20, 25, 0) 50%);
}

.destaque-conteudo {
    text-shadow: 5px 5px 10px #000;
}

.destaque-titulo {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.destaque-descricao {
    font-size: 16px;
    width: 50%;
    margin-bottom: 3.5rem;
}

.destaque-options {
    display: flex;
    gap: 1.2rem;
}

.destaque-button {
    padding: 10px 20px;
    border-radius: 360px;
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    background: #0C7489;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
}

.destaque-button:hover {
    cursor: pointer;
    background-color: #096071;
}

.destaque-button:nth-of-type(1) svg {
    height: 22px;
    width: 22px;
}

.destaque-button:nth-of-type(2) {
    background: none;
    border: #0C7489 3px solid;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

.destaque-button:nth-of-type(2):hover {
    background: #C7F1FA;
    color: #161419;
    text-shadow: none;
}

.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.catalogo-secao {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    margin-bottom: 5rem;
}

.seta-esquerda {
    position: absolute;
    top: 50%;
    left: -3.6rem;
    height: 55px;
    width: 55px;
    transition: all 0.3s ease-in-out;
}

.seta-direita {
    position: absolute;
    top: 50%;
    right: -3.6rem;
    height: 55px;
    width: 55px;
    transition: all 0.3s ease-in-out;
}

.seta-esquerda:hover, .seta-direita:hover {
    cursor: pointer;
    height: 60px;
    width: 60px;
}


.catalogo-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1.2rem;
    letter-spacing: 5px;
}

.catalogo-lista {
    display: flex;
    gap: 1rem;
}

.card-gradient {
    border-radius: 15px;
}

.card {
    align-self: center;
    width: 270px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
    background: linear-gradient(90deg, rgb(129 129 129) 0%, rgba(22, 20, 25, 0) 70%);
}

.card:hover {
    cursor: pointer;
}

.catalogo-secao:nth-of-type(1) .card-gradient:nth-of-type(1) {
    background: no-repeat url(../png/Oppenheimer.png);
}

.catalogo-secao:nth-of-type(1) .card-gradient:nth-of-type(2) {
    background: no-repeat url(../png/Oduble.png);
}

.catalogo-secao:nth-of-type(1) .card-gradient:nth-of-type(3) {
    background: no-repeat url(../png/Breaking-Bad.png);
}

.catalogo-secao:nth-of-type(1) .card-gradient:nth-of-type(4) {
    background: no-repeat url(../png/Cavaleiro-da-Lua.png);
}

.catalogo-secao:nth-of-type(2) .card-gradient:nth-of-type(1) {
    background: no-repeat url(../png/godzilla.png);
}

.catalogo-secao:nth-of-type(2) .card-gradient:nth-of-type(2) {
    background: no-repeat url(../png/Oduble.png);
}

.catalogo-secao:nth-of-type(2) .card-gradient:nth-of-type(3) {
    background: no-repeat url(../png/panda.png);
}

.catalogo-secao:nth-of-type(2) .card-gradient:nth-of-type(4) {
    background: no-repeat url(../png/duna.png);
}

.card-titulo {
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.card-duracao {
    color: #CCCCCC;
}

.card-titulo, .card-duracao {
    margin-left: 1rem;
}

.card-options {
    display: flex;
    margin: 1.5rem 1rem 1rem 1rem;
}

.card-button {
    border-radius: 50px;
    padding: 10px;
    border: 2px solid #878585;
    margin-right: 1.4rem;
    background-color: #333;
    color: #fff;
}

.card-button:hover {
    cursor: pointer;
    background-color: #616161;
}


.card-button svg {
    height: 20px;
    width: 20px;
    display: block;
}

.card-play {
    border: 2px solid #0C7489;
    background-color: #0C7489;
}

.card-play:hover {
    background-color: #096071;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.3rem;
    align-items: center;
    justify-items: center;
    margin-inline: 10rem;
    margin-top: 3rem;
    font-family: 'Nunito Sans', sans-serif;
}

footer a {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

footer .logo {
    font-size: 40px;
}

.redes-logos {
    grid-column: 3;
    display: flex;
    align-items: center;
    gap: 20px
}

.redes-logos svg {
    height: 30px;
    width: 30px;
    transition: 0.5s;
}

.redes-logos svg:hover {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.watermark {
    font-size: 10px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 20px;
    grid-column: 2;
}
