<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIO - Login</title>
    <link rel="stylesheet" href="../styles/sheets/reset.css">
    <link rel="stylesheet" href="../styles/sheets/login.css">
</head>
<body>
    <header>
        <nav>
            <div onclick="redirecionarMain()" class="arrow-icon">
                <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg> 
                </a>
            </div>
            <div class="logo">
                <a href="./main.html" class="logo link">
                    <h1 class="logo-blue">MO</h1>
                    <h2 class="logo-white">VIO</h2>
                </a>
            </div>
            <div class="nav-right"></div>
        </nav>
    </header>
    <main>
        <div class="login-container">
            <form action="./main-logged-in.html" method="get">
                <h1>Login</h1>
                <input placeholder="Email" type="email">
                <input placeholder="Senha" type="password" name="senha" id="password">
                <input type="submit">
                <p>Não tem conta? <a href="./cadastro.html">Cadastre-se</a></p>
            </form>
        </div>
    </main>
    <footer>
        <a href="">Centro de Ajuda</a>
        <a href="">Política de Privacidade</a>
        <a href="">Entre em Contato</a>
        <a href="">Termos de Uso</a>
        <a href="">Sobre Nós</a>
        <a href="">Trabalhe Conosco</a>
        <div class="logo">
            <h1 class="logo-blue">MO</h1>
            <h1 class="logo-white">VIO</h1>
        </div>
        <div class="redes-logos">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>
        </div>
        <p class="watermark">@ 2024 MOVIO, Ltd.</p>
    </footer>
</body>
<script src="../scripts/main.js"></script>
</html>