<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIO</title>
    <link rel="stylesheet" href="../styles/sheets/reset.css">
    <link rel="stylesheet" href="../styles/sheets/main.css">
</head>
<body>
    <header>
        <nav>
            <img src="../styles/svg/menu.svg" class="menu-icon">
            <div class="logo">
                <a href="./main.html" class="logo link">
                    <h1 class="logo-orange">MO</h1>
                    <h2 class="logo-white">VIO</h2>
                </a>
            </div>
            <div class="nav-right">
                <input type="text" placeholder="Buscar..." class="search-bar">
                <a href="./main.html" class="login-link">
                    <button class="login-button">Log In</button>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section class="destaque">
            <div class="destaque-conteudo">
                <h1 class="destaque-titulo">O Regresso</h1>
                <p class="destaque-descricao">Nos anos 1820, um caçador de peles luta pela sobrevivência para se vingar de um mercenário cruel que o deixou à beira da morte próximo ao rio Missouri.</p>
            </div>
            <div class="destaque-buttons">
                <button class="destaque-button"><img src="../styles/svg/play.svg">Assistir Agora</button>
                <button class="destaque-button">Adicionar à lista</button>
            </div>
        </section>
    </main>
</body>
</html>